<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <h2>人员列表</h2>
            <input type="text" placeholder="请输入名字" v-model="keyWord" >
            <ul>
                <li v-for="list in filPersons" :key="list.id">{{list.name}} - {{list.age}} - {{list.sex}}</li>
            </ul>
        </div>
        
    </body>
    <script type="text/javascript">
        Vue.config.productionTip = false
        const vm = new Vue({
            el:"#root",
            data:{
                keyWord:"",
                persons:[
                    {id:001,name:"马冬梅",age:18,sex:"女"},
                    {id:002,name:"周冬雨",age:11,sex:"女"},
                    {id:003,name:"周杰伦",age:13,sex:"男"},
                    {id:004,name:"温兆伦",age:12,sex:"男"},
                ],
                // filPersons:[]
            },
            // //watch实现列表过滤
            // watch:{
            //     keyWord:{
            //         immediate:true,
            //         handler(val){
            //             this.filPersons = this.persons.filter((p)=>{
            //                 return p.name.indexOf(val) !== -1
            //             })
            //         }
            //     }
            // },
            
            
            // //计算属性实现列表过滤
            // 计算属性生成的filPersons 需要返回值  #需要掌握filter过滤函数
            computed: {
                filPersons(){
                    return this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                } 
            },
        })
    </script>
</html>